@import "./card-map.scss";

.card__container {
  background-color: var(--card-background-color);
  min-height: var(--card-min-height);
  padding: var(--spacing-05); 
  font-family: var(--card-font-family);
  font-size: $card-font-size;
  color: var(--card-font-color);
  font-weight: var( --card-font-weight);
  
  &[card-type='floating-card'] {
    position: relative;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
    max-height: var(--card-max-height);
    .button__icon--close {
      --button-icon-color: var(--card-close-icon-color);
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      background-color: inherit;
    }
  }
}


